.card {
    height: 160px;
    padding-bottom: 10%;
    padding-top: 10%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: transparent;
}

.card:hover {
    box-shadow: 0 1px 5px 3px rgba(51,195,240,0.25), 0 1px 4px 3px rgba(51,195,240,0.22);
}

.row {
    padding-bottom: 20px;
}

.info span {
    display: block;
    text-align: center;
    overflow: hidden;    
}

.info b {
    display: block;
    text-align: center;
    overflow: hidden;    
}

.info h5 {
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
}


.container {
    padding-top: 10%;
}

.title {
    text-align: center;
}

.row {
    padding-left: 5%;
}