<h2 class="title">Crypto Skeleton</h2>
<div class="row">
  <div class="two columns" *ngFor="let currency of currencies | slice:0:6;">
    <div class="card">
      <div class="info">
        <h5>{{currency.name}}</h5>
        <span>{{currency.symbol}}</span>
        <b>${{currency.price_usd | number : '1.2-2'}}</b>
        <span>{{currency.percent_change_24h}}%</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="two columns" *ngFor="let currency of currencies | slice:6:12;">
    <div class="card">
      <div class="info">
        <h5>{{currency.name}}</h5>
        <span>{{currency.symbol}}</span>
        <b>${{currency.price_usd | number : '1.2-2'}}</b>
        <span>{{currency.percent_change_24h}}%</span>
      </div>
    </div>
  </div>
</div>